
body {
    background: black;
}

#root {
    height: 100%;
    display: flex;
    flex-direction: column;
}

video {
    display: flex;
    flex: 1;
    cursor: pointer;
}

button {
    font-size: 1em;
    padding: .5em;
    cursor: pointer;
}
